In [1]:
import pandas as pd

In [161]:
df = pd.read_csv('US-Economic-News.csv', delimiter=',', encoding= 'ISO-8859-1')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               8000 non-null   int64
 1   _golden                8000 non-null   bool
 2   _unit_state            8000 non-null   object
 3   _trusted_judgments     8000 non-null   int64
 4   _last_judgment_at      8000 non-null   object
 5   positivity             1420 non-null   float64
 6   positivity:confidence  3775 non-null   float64
 7   relevance              8000 non-null   object
 8   relevance:confidence   8000 non-null   float64
 9   articleid              8000 non-null   object
 10  date                   8000 non-null   object
 11  headline               8000 non-null   object
 12  positivity_gold        0 non-null      float64
 13  relevance_gold         0 non-null      float64
 14  text                   8000 non-null   object
dtypes: bool(1), float64(5), int64(2), object(7)
memory usage: 882.9+ KB

In [162]:
df.head(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,positivity,positivity:confidence,relevance,relevance:confidence,articleid,date,headline,positivity_gold,relevance_gold,text
0,842613455,False,finalized,3,12/5/15 17:48,3.0,0.6400,yes,0.640,wsj_398217788,8/14/91,Yields on CDs Fell in the Latest Week,NaN,NaN,NEW YORK -- Yields on most certificates of dep...
1,842613456,False,finalized,3,12/5/15 16:54,NaN,NaN,no,1.000,wsj_399019502,8/21/07,The Morning Brief: White House Seeks to Limit ...,NaN,NaN,The Wall Street Journal Online</br></br>The Mo...
2,842613457,False,finalized,3,12/5/15 1:59,NaN,NaN,no,1.000,wsj_398284048,11/14/91,Banking Bill Negotiators Set Compromise --- Pl...,NaN,NaN,WASHINGTON -- In an effort to achieve banking ...
3,842613458,False,finalized,3,12/5/15 2:19,NaN,0.0000,no,0.675,wsj_397959018,6/16/86,Manager's Journal: Sniffing Out Drug Abusers I...,NaN,NaN,The statistics on the enormous costs of employ...
4,842613459,False,finalized,3,12/5/15 17:48,3.0,0.3257,yes,0.640,wsj_398838054,10/4/02,Currency Trading: Dollar Remains in Tight Rang...,NaN,NaN,NEW YORK -- Indecision marked the dollar's ton...

In [163]:
# tengo que agarrar y cambiar los dtype de las variables con encoding
# drop positivity gold and relevance gold
# positivity and ::confidence, have very sparse values
# _unit_state has only the finalized observation and golden the False observation, and trusted judgments only observation '3'

df = df.drop(columns = ['_unit_id', 'positivity_gold', 'relevance_gold', '_unit_state', '_golden', '_trusted_judgments',
                         '_unit_state', '_last_judgment_at', 'positivity', 'positivity:confidence', 'relevance:confidence', 'articleid',
                       'date'], axis = 1)

#df['articleid'] = df['articleid'].str.slice(0, 3)
# so far, these variables SHOULD be dropped for sure as well as unit id and article id
# should discuss between the positivity and positivity confidence due to amount of null values

In [151]:
# df.head()
# filtered_df = df[df['relevance'] == 'yes']

# filtered_df['articleid'].value_counts()

In [164]:
df.head(5)

,relevance,headline,text
0,yes,Yields on CDs Fell in the Latest Week,NEW YORK -- Yields on most certificates of dep...
1,no,The Morning Brief: White House Seeks to Limit ...,The Wall Street Journal Online</br></br>The Mo...
2,no,Banking Bill Negotiators Set Compromise --- Pl...,WASHINGTON -- In an effort to achieve banking ...
3,no,Manager's Journal: Sniffing Out Drug Abusers I...,The statistics on the enormous costs of employ...
4,yes,Currency Trading: Dollar Remains in Tight Rang...,NEW YORK -- Indecision marked the dollar's ton...

Cleaning Strings

In [14]:
#!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
Collecting regex>=2021.8.3
  Downloading regex-2023.10.3-cp39-cp39-win_amd64.whl (269 kB)
Collecting click
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
Requirement already satisfied: tqdm in c:\users\majon\appdata\local\programs\python\python39\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: joblib in c:\users\majon\appdata\local\programs\python\python39\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: colorama in c:\users\majon\appdata\local\programs\python\python39\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2023.10.3

WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\majon\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [40]:
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [56]:
# #Ensure you have downloaded the necessary NLTK data
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\majon\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\majon\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\majon\AppData\Roaming\nltk_data...

True

In [165]:
df['whole_txt'] = df['headline']+ ' ' + df['text']

In [166]:
wtxt_train = np.array(df['whole_txt'])

In [96]:
# print(wtxt_train)

In [167]:
for i in range(len(wtxt_train)):
    # Deletion of non-latin alfabet signs, also numbers
    wtxt_train[i] = re.sub(r'[^a-zA-Z]', ' ', wtxt_train[i])
    # Removing single letter works like 'a'.
    wtxt_train[i] = re.sub(r"\s+[a-zA-Z]\s+", ' ', wtxt_train[i])
    # Removing double spaces
    wtxt_train[i] = re.sub(r'\s+', ' ', wtxt_train[i])
    # Lower case
    wtxt_train[i] = wtxt_train[i].lower()

Tokenization

In [168]:
for i in range(len(wtxt_train)):
    wtxt_train[i] = word_tokenize(wtxt_train[i])

Removing stop words

In [169]:
stop_words = set(stopwords.words('english'))

for i in range(len(wtxt_train)):
    wtxt_train[i] = [word for word in wtxt_train[i] if word not in stop_words]

In [170]:
wtxt_train[0]
# stop_words

['yields',
 'cds',
 'fell',
 'latest',
 'week',
 'new',
 'york',
 'yields',
 'certificates',
 'deposit',
 'offered',
 'major',
 'banks',
 'dropped',
 'tenth',
 'percentage',
 'point',
 'latest',
 'week',
 'reflecting',
 'overall',
 'decline',
 'short',
 'term',
 'interest',
 'rates',
 'br',
 'br',
 'small',
 'denomination',
 'consumer',
 'cds',
 'sold',
 'directly',
 'banks',
 'average',
 'yield',
 'six',
 'month',
 'deposits',
 'fell',
 'week',
 'ended',
 'yesterday',
 'according',
 'bank',
 'survey',
 'banxquote',
 'money',
 'markets',
 'wilmington',
 'del',
 'information',
 'service',
 'br',
 'br',
 'three',
 'month',
 'consumer',
 'deposits',
 'average',
 'yield',
 'sank',
 'week',
 'according',
 'banxquote',
 'two',
 'banks',
 'banxquote',
 'survey',
 'citibank',
 'new',
 'york',
 'corestates',
 'pennsylvania',
 'paying',
 'less',
 'threemonth',
 'small',
 'denomination',
 'cds',
 'br',
 'br',
 'declines',
 'somewhat',
 'smaller',
 'five',
 'year',
 'consumer',
 'cds',
 'eased',
 'banxquote',
 'said',
 'br',
 'br',
 'yields',
 'three',
 'month',
 'six',
 'month',
 'treasury',
 'bills',
 'sold',
 'monday',
 'auction',
 'plummeted',
 'fifth',
 'percentage',
 'point',
 'previous',
 'week',
 'respectively']

Lemmatization

In [171]:
lemmatizer = WordNetLemmatizer()
for i in range(len(wtxt_train)):
    wtxt_train[i] = [lemmatizer.lemmatize(word) for word in wtxt_train[i]]

In [176]:
df['whole_txt'] = wtxt_train
df = df.drop(['headline', 'text'], axis = 1)

In [177]:
df.head(5)

  relevance                                          whole_txt
0       yes  [yield, cd, fell, latest, week, new, york, yie...
1        no  [morning, brief, white, house, seek, limit, ch...
2        no  [banking, bill, negotiator, set, compromise, p...
3        no  [manager, journal, sniffing, drug, abuser, qui...
4       yes  [currency, trading, dollar, remains, tight, ra...

Train Test Split

In [178]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['relevance'], axis = 1)
y = df['relevance']

# here stratify is used to balance dataset as much as possible
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [183]:
X_train.head(3)

                                              whole_txt
420   [trade, deficit, worry, nearly, halt, activity...
3350  [tea, party, activist, complicate, republican,...
6716  [elder, share, one, great, feat, social, engin...

In [184]:
y_train.head(3)

420      no
3350     no
6716    yes
Name: relevance, dtype: object

Numerical Encoding

In [187]:
#!pip install gensim

In [192]:
import gensim

word2vec_model = gensim.models.Word2Vec(X_train['whole_txt'], vector_size=100, window=5, min_count=1, workers=4)

In [193]:
import numpy as np
def document_vector(word2vec_model, doc):
    # Remove out-of-vocabulary words
    doc = [word for word in doc if word in word2vec_model.wv.index_to_key]
    if len(doc) == 0:
        return np.zeros(word2vec_model.vector_size)
    return np.mean(word2vec_model.wv[doc], axis=0)

# Vectorize each column in training and test sets
X_train['vectorized_text'] = [document_vector(word2vec_model, doc) for doc in X_train['whole_txt']]

X_test['vectorized_text'] = [document_vector(word2vec_model, doc) for doc in X_test['whole_txt']]

In [194]:
X_test.head(5)

,whole_txt,vectorized_text
6006,"[growing, respect, need, personnel, area, rela...","[-0.11448828, 0.16956037, 0.48502818, 0.148715..."
2304,"[fed, chief, signal, rate, cut, authoraffiliat...","[-0.16014144, 0.35196736, 0.6381882, 0.2047706..."
7059,"[smorgasbord, mortgage, signed, contract, buy,...","[-0.531506, 0.28280517, 0.29646155, 0.3589064,..."
5880,"[digest, cisco, system, make, internet, equipm...","[-0.031654067, -0.25615236, 0.29563683, 0.3256..."
6700,"[president, vacation, marred, worry, renewed, ...","[0.122463286, 0.34133253, 0.46179217, 0.192661..."